<ul>
  <% @cheets.each do |cheet| %>
    <li><%= cheet.text %> by <%= cheet.author %> at <%= cheet.created_at %></li>
  <% end %>
</ul>


<form action="/cheets" method="post">
    Your Cheet: <input type="text" name="content">

    <% if current_user %>
      <input type="hidden" name="author" value="<%= current_user.username %>">
    <% else %>
      <input type="hidden" name="author" value="anon">
    <% end %>

    <input type="submit" value="Cheet!">
</form>

<% if !current_user %>
  <form method="get" action="/sessions/new">
  <input type="submit" value="Sign in!">
  </form>
<% end %>
