body {
  font-family: Georgia, Times, serif;
  font-size: 12px;
}
h1, h2 {
  font-family: Verdana, Arial, sans-serif;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
p {
  line-height: 1.5em;
}
p:first-line {
  font-weight: bold;
}
p.intro:first-letter {
  font-size: 200%;
}
.credits {
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  text-transform: capitalize;
  text-align: right;
}