<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chitter</title>
  </head>
  <body>
    <header>Header</header>
    <nav>
      <a href="/sign_up">Sign-up!</a>
    </nav>
    <main>
      <article>
        <h1>Article</h1>
        <p>Content</p>
    </article>
    <aside>
      <p>Aside</p>
    </aside>
    </main>
    <footer>Footer</footer>
  </body>
</html>

<!-- HTML5 template from https://gist.github.com/sandorjanssen/6231323 -->