
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chitter Sign Up</title>
  </head>
  <body>
    <main>
      <form action="/new_user" method="post">
        username  <input type="text"    name="username">
        name      <input type="text"    name="name">
        email     <input type="text"    name="email">
        password  <input type="text"    name="password">
        Sign up   <input type="submit"  value="Sign up">
      </form>
    </main>
  </body>
</html>

