body {
  background-color: darkgrey;
  padding: 20px;
  font-family: Verdana, sans-serif;
}
h1 {
  background-color: lightgrey;
  background-color: hsla(0,0%,83%,0.75);
  padding: inherit;
}
p {
  color: white;
  padding: 5px;
  margin: 0px;
}
p.fourteen {
  background-color: #0052CC;
}
p.thirteen {
  background-color: #3375D6;
}
p.twelve {
  background-color: #5C91DE;
}
p.eleven {
  background-color: #7DA7E5;
}