body {
  background-color: darkgrey;
}
h1 {
  background-color: lightgrey;
}
p.fourteen {
  background-color: #0052CC;
}
p.thirteen {
  background-color: #3375D6;
}
p.twelve {
  background-color: #5C91DE;
}